
.header-gray {
    width: 100%;
    height: 20vh;
    background-color: #36454F;
}

.middle-body-color {
    width: 80%;
    height: 80vh;
    background-color: #e7e9e9;
    margin: auto;
}

.footer-gray {
    width: 80%;
    margin: auto;
    height: 10vh;
    background-color: #36454F;
}

body {
    background-color: #b6b7b9;
    margin: 0px;
}

